/* Site-wide formatting of standard tags */
/* ===================================== */
body {
  /*background: #fefefe;*/
  background: #f5f5d5;
  font-family: Verdana, Geneva, sans-serif, Arial;
  /*font-size: .8em;*/
  color: black;
  border: 0;
  margin: 0;
  font-size: medium;
}

p {
  margin: 10pt;
}

h1 {
  color: #333;
  font-size: 1.7em;
  text-decoration: underline;
}
h1.title {
  margin-bottom: 5pt;
}

h2 {
  color: #333;
  font-size: 1.4em;
}

table {
  font-size: 1em;
}

select {
  color: #333;
}

input {
  border: 1px solid #ccc;
  background: #eee;
  color: #777;
}

input:hover {
  color: #004090;
  background: #ddd;
}

em {
  font-weight: bold;
  color: #444;
}

dt {
  font-weight: bold;
}

a img, a:link, a:hover {
  border: none;
}

a:link {
  text-decoration: none;
  color: #0072ff;
  border-bottom: groove 1px #0072ff;
}

a:visited {
  text-decoration: none;
  color: navy;
  border-bottom: groove 1px navy;
}

a:hover {
  text-decoration: none;
  color: #004090;
  border-bottom: dotted 1px #004090;
}

hr {
  background: #eee;
  height: 1px;
}


/* Header: logo, top menu and search     */
/* ===================================== */

header.top {
  height: 47px;
}

header.top img {
  position: absolute;
  left: 10px;
  top: 10px;
  border: none;
}

/* navigation bar                        */
/* ===================================== */
nav {
  position: absolute;
  top: 90px;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 0;
  background-color: #eee;
  background-color: #d7e9f6;
  text-align: right;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

nav ul#menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

nav ul#menu li {
  display: inline;
  padding: 0;
  margin: 0;
  text-align: right;
}

nav ul#menu a {
  float: right;
  display: block;
  padding: 5px 20px;
  margin: 0;
  border-bottom: none;
  text-decoration: none;
}

#programmingactive:link, #programmingactive:visited,
#booklistactive:link, #booklistactive:visited {
  color: white;
  font-weight: bold;
  padding: 5px 20px;
}

#programming:link, #programming:visited,
#booklist:link, #booklist:visited {
  font-weight: bold;
  color: #777;
}

#programming:hover, #programmingactive:hover,
#booklist:hover, #booklistactive:hover {
  background-color: #ddd
}


/* Project specfic left-hand menus       */
/* ===================================== */

section#leftmenu ul {
  text-align: right;
  font-weight: bold;
  background: #eee;
  list-style-type: none;
  position: absolute;
  left: 0px;
  top: 145px;
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
  padding: 0;
  margin: 0;
}

section#leftmenu li {
  margin: 0;
  border-bottom: solid 1px #ddd;
}

section#leftmenu a {
  text-decoration: none;
  border: none;
  display: block;
  margin: 0;
  padding: 5px 10px;
  color: #777;
}

#leftmenulist a:hover {
  background: #777;
  color: white;
}

#programmingmenulist a:hover {
  background: #0072ff;
  color: white;
}

#Xmenulist a:hover {
  background: #92d800;
  color: white;
}

#booklistmenulist a:hover {
  background: #a27700;
  color: white;
}

#Cmenulist a:hover {
  background: #fd7700;
  color: white;
}

#Dmenulist a:hover {
  background: #8400ff;
  color: white;
}

#Fmenulist a:hover {
  background: #0c0470;
  color: white;
}

#programmingactive:link, #programmingactive:visited {
  background: #0072ff;
}

#Xactive:link, #Xactive:visited {
  background: #92d800;
}

#booklistactive:link, #booklistactive:visited {
  background: #a27700;
}

#Dactive:link, #Dactive:visited {
  background: #fd7700;
}

#Eactive:link, #Eactive:visited {
  background: #8400ff;
}

#Factive:link, #Factive:visited {
  background: #0c0470;
}


/* Special formatting for News lists     */
/* ===================================== */

.newsItem {
  padding-bottom: 5pt;
  border-bottom: 1px dotted #0c0470;
}

.newsItem p {
  margin: 10pt 0 10pt 0;
}


/* Special formatting for /index.html    */
/* ===================================== */

#subs {
  list-style-type: none;
}

#subs li {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Main page content & footer            */
/* ===================================== */

section#main, section#blog {
  position: absolute;
  top: 140px;
  left: 150px;
  padding-right: 180px;
}

section#main ul li {
  margin-top: 5px;
}

footer {
  border-top: 1px solid #ccc;
  margin-top: 39px;
}

footer p {
  color: #bcbcbc;
  font-size: .8em;
}

footer a {
  color: #bcbcbc;
  font-size: 1em;
}

footer a:link, footer a:visited, footer a:hover {
  color: #bcbcbc;
  border-bottom: 1px solid #bcbcbc;
}


/* Commands & notes                      */
/* ===================================== */

.cmd {
  font: 1.1em monospace;
  background: #eee;
  padding: 5pt 0;
  margin: 0 10pt;
  border: 1px dashed #0c0470;
}
.cmd p { margin: 10pt 15pt; }

.note {
  background: #eee;
  border: dashed 1px red;
  padding: 3pt;
  margin: 0 10pt;
}

time {
  padding-left: 5pt;
  margin-bottom: 8pt;
  color: #777;
  font-size: .8em;
  font-style: italic;
}
