pre {
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px #eee;
  padding: 8pt;
  font-family: monospace;
  overflow: auto;
  margin: 1.2em;
  background: #3c3d37;
  color: #f7f7e2;
  line-height: 1.3;
}
pre.src {
  position: relative;
  overflow: visible;
  padding-top: 1.2em;
}
